body {
    background: linear-gradient(to bottom, #fff, #f7d9aa);
    animation: background 10s ease-in-out infinite alternate;
  }

  @keyframes background {
    0% {
      background-position: left top;
    }
    100% {
      background-position: right bottom;
    }
  }

  button:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: #f7d9aa;
}

li {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }



.button:hover {
    background-color: #CBC9EC;
    cursor: pointer;
    transition: 1s;
}

.input::placeholder {
    color: #CBC9EC;
    font-size: 17px;
    padding: 3%;
}

.trash {
    color: #e25555;
    padding-right: 25px;
}

.trash:hover {
    cursor: pointer;
}

.rocketIcon {
    padding-left: 25px;
}

.rocketIcon:hover {
    cursor: pointer;
}

.rocketIcon::title {
    color: #CBC9EC;
}

input:focus {
    outline: 0}

.tooltip {
    display: inline-block;
}

.finish-task-tip, .delete-task-tip {
    display: none;
    position: absolute;
    padding: 10px;
    background-color: #fdfdfd38;
    border-radius: 13%;
}

.tooltip .finish-task-tip {
    color: #9f80c4;
    transform: translate(-50%, 20px);
}

.tooltip .delete-task-tip {
    color: #e25555;
    transform: translate(-80%, 20px);
}

.tooltip:hover .finish-task-tip, .tooltip:hover .delete-task-tip {
    display: inline-block;
}

.smallButtonName {
    display: none;
}

@media (max-width: 768px) {

    .regularButtonName {
        display: none;
    }

    .smallButtonName {
        display: contents;
    } }

